/*
   CUSTOM CSS
*/

/*Index Page Styles*/
#index{
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

#index-logo{
    margin-top: 20px;
}

#index .panel{
    height: 100%;
}

#index-text{
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    width: 85%;
    margin: 0 auto;
    color: #717171;
}

#index-list{
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 0;
}

#index-button{
    text-align: center;
}


/*Login Page Styles*/

#app-body{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    z-index: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#login-form, #forgot-panel{
    margin-top: 10%;
    display: block;
}

#login-form .panel-heading{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #6f6f6f;
}

#login-form .radio label, .checkbox label{
    padding-left: 0;
}

.panel-heading {
    padding: 10px 15px 0;
}

#login-remember{
    padding: 15px;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.39);
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}


/*Dashboard Styles*/

.fontawesome-i2svg-pending body {
    background: #fafafa;
    visibility: hidden;
    opacity: 0;
}

.fontawesome-i2svg-active body {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background-color: #f7f7f7;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,.0625);
    height: 60px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar-default .navbar-nav > li > a{
    color:#505050;
}


.navbar-nav{
    margin-right: 40px;
 }

.dropdown-menu > li > a{
    background-color: #fff;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    color: #838383;
    text-align: center;
    padding: 5px;
    border-top: 1px solid rgba(0,0,0,.0625);
}
.container-content-custom{
    padding-bottom: 30px;
    padding-top: 80px;
}

.container-fluid{
    padding-top: 5px;
}

.navbar-fixed-top{
    right: unset;
    left: unset;
    width: calc(100% - 250px);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #f7f7f7;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #f7f7f7;
    color: #3c3c3c;
    transition: all 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid rgba(0,0,0,.0625);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 5px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 75px;
}

#sidebar ul.components {
    padding:20px 0 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 16px 0px 10px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
#sidebar ul li a:hover {
    color: #D52B29;
}

#sidebar ul li.active > a {
    color: #c50202;
    background: #f7f7f7;
    font-weight: 600;
}

.sidebar-icon{
    color: red;
    padding-right: 20px;
}

.svg-inline--fa{
    width: 25px !important;
}

/*COLORS FOR SIDEBAR ICONS*/

#fatachometer{
    color: #03A9F4
}

#fashopping-bag{
    color: #E91E63
}

#faboxes{
    color: #8BC34A
}

#fausers{
    color: #607D8B
}

#facustomers{
    color: #4527A0
}

#fatruck{
    color: #FFB300
}

#fashopping-cart{
    color: #2BC7D3
}

#fabook{
    color: #D2432C
}



a[data-toggle="collapse"] {
    position: relative;
}

/*a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}*/


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3c4f63;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    padding-top: 80px;
    padding-right: 5px;
    background-color: #f0f0f0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

    #sidebarCollapse{
        visibility: hidden;
    }


@media (max-width: 768px) {
    #sidebarCollapse{
        visibility: visible;
        float: left;
        margin-right: 20px;
        background-color: #f1f1f1;
    }

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    .navbar-fixed-top{
        width: 100%;
    }
    .navbar-collapse.collapse{
        display: block;
    }
    .navbar-header{
        float: left;
    }
    .navbar-right{
        float: right;
    }
    .nav > li > a{
        padding: 10px 0;
    }
}


/* ---------------------------------------------------
    CUSTOM BUTTONS
----------------------------------------------------- */

.btn-custom { 
  color: #FFFFFF; 
  background-color: #282D39; 
  border-color: #0B0C0F; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #FFFFFF; 
  background-color: #3E475C; 
  border-color: #0B0C0F; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #282D39; 
  border-color: #0B0C0F; 
} 
 
.btn-custom .badge { 
  color: #282D39; 
  background-color: #FFFFFF; 
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.well {
    margin-top: 10px;
}

.clickable-row{
    cursor: pointer;
    -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;
    transition: .2s ease-in;
}

.clickable-row:hover {
    background-color: #e8e8e8 !important;
}

.clickable-row:active {
    background-color: #cacaca !important;
}

.table-div {
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ececec;
    border-radius: 8px;
}

tbody{
    color: #5a5a5a;
}

.form-numbers {
    width: 100% !important;
    font-size: 17px;
}

.form-select {
    width: 100% !important;
}

.form-numbers-td {
    width: 110px;
}

.form-select-td {
    width: 185px;
}

#purchase-date {
    padding-bottom: 20px;
}

.purchase-button-div {
    padding-top: 30px;
}

.pull-right {
    padding-top: 40px;
}

#stocks-header {
    width: 98px;
}

.stocks-td {
    text-align: center;
    font-size: 17px;
    color: #848484;
    line-height: 2 !important;
}

.total-cost {
    color: #7b0000;
    font-size: 18px;
    font-weight: 600;
    width: 200px !important;
}

#purchase-receipt-button, .cart-button {
    margin-top: 20px;
    float: right;
}

.remove_field_button {
    background-color: #faa1a1;
    color: black;
    font-size: 20px;
    padding: 2px 12px;
}

.add_field_button {
    background-color: #a3e2fe;
    color: black;
    font-size: 20px;
    padding: 2px 12px;
}

.addresses {
    width: 70%;
}

.centered-col {
    float: none;
    margin: 0 auto !important;
}

/*CHECKBOX STYLES*/


.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 15%;
    left: -10%;
}


.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

.checkbox label {
    color: #505050  !important;
}

/* END OF CHECKBOX STYLES*/


.padding-on-top {
    padding-top: 30px;
}

.row {
    padding-bottom: 20px;
        margin: 10px 0;
}


/*Dashboard Styles*/

#world-map-card{
    padding: 10px;
    margin: 5px;
    background-color: white;
    height: 100%;
    margin-bottom: 25px;
}

#world-map{
    height: 100%;
}

.card-body h3{
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    color: #656d73;
}

.card{
        box-shadow: 2px 2px 2px #aaaaaa;
        background-color: white;
}

#world-map{
    height: 278px;
}

#stats-card1{
    padding: 10px;
    margin: 5px;
    background-color: white;
    height: 100%;

}

.count{
    height: 115px;
    margin: 0 auto;
}

.count-info{
    width: 200px;
    height: 71px;
    margin: 0 auto;
    text-align: center;
}

.count-icon{
    float: right;
}


.count-header h3{
    padding-left: 0;
    font-size: 65px;
    color: #ffffff;
}

.count-text{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #ffffff;
}

#customer-count{
    background-color: #F44336;
}

#vendor-count{
    background-color: #2196F3;
}

#product-count{
    background-color: #8BC34A;
}

#stats .card{
    -webkit-box-shadow: 5px 5px 2px #aaaaaa;
    box-shadow: 5px 5px 2px #aaaaaa;
}